
/*-------------------------------------------------------
   Global setting
-------------------------------------------------------*/

body {
  font-family: sans-serif;
  color: #666;
  border-top: 1rem solid #c6e5d9;
  padding: 0;
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 1.8rem;
  box-sizing: border-box;
}

input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
input:disabled {
  background-color: #eee;
}
button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #45bccccc;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
button:disabled,
button:disabled:hover {
  background-color: #a9aeafcc;
  color: #fff;
}
button:hover {
  background-color: #e4f1f1;
  color: #45bccccc;
}
section {
  width: 90%;
  margin: 0 auto;
}
section > div{
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}
h1 {
  text-align: center;
  font-size: 1.2rem;
  color: #6baa92;
}
h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.1rem;
  /* color: #45bccccc; */
  font-weight: bold;
}

footer {
  background-color: #c6e5d9;
  color: #555;
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
  padding: 0.5rem 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
footer p{
  margin: 0 auto;
}


/*-------------------------------------------------------
  Components setting
-------------------------------------------------------*/

#input-area {
  background-color: #c6e5d9;
}
#input-area #add-text{
  min-width: 200px;
  width: 60%;
}
#todos-wrap{
  display: block;
}
#incomplete-area {
  border: 2px solid #c6e5d9;
  min-height: 220px;
}
#incomplete-area h2 {
  /* border-bottom: 2px solid #c6e5d9; */
}
#complete-area {
  background-color: #f0f0f0;
  min-height: 220px;
  border: 2px solid #cccccc;
}
#complete-area h2 {
  /* border-bottom: 2px solid #bbb; */
}
.list-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.list-row p {
  margin: 0.5rem auto 0.5rem 0;
  /* border-bottom: 1px brown dashed;
  width: 100%; */
  /* background-color: #fff; */
  /* background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff 0%, #fff 100%), linear-gradient(180deg, rgba(100, 100, 100, 0) 0%, rgba(100, 100, 100, 0) 97.5%, #646464 100%);
  background-size: 8px 100%,100% 2em; */
}
button.delete {
  background-color: #fff;
  color: #a92e2ecc;
  font-size: 1.2rem;
  padding: 0;
  margin-left: 0.4rem;
}
button.delete:hover {
  opacity: 0.7;
}
.warning {
  color: red;
  width: 90%;
  margin: 0 auto;
  /* padding: 0 1rem; */
  font-size: 0.9rem;
}


/*-------------------------------------------------------
  Laptop design
-------------------------------------------------------*/
@media screen and (min-width: 768px) {
  #todos-wrap{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  #todos-wrap div{
    width: 100%;
  }
  #incomplete-area {
    min-height: 420px;
  }
  #complete-area {
    min-height: 420px;
  }
}