
body {
  font-family: sans-serif;
  color: #666;
  border-top: 1rem solid #c6e5d9;
  padding: 0;
  margin: 0;
}

input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
input:disabled {
  background-color: #eee;
}
button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  background-color: #45bccccc;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
button:disabled,
button:disabled:hover {
  background-color: #a9aeafcc;
  color: #fff;
  ;
}
button:hover {
  background-color: #e4f1f1;
  color: #45bccccc;
}
section {
  width: 90%;
  border-radius: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}
h1 {
  text-align: center;
  font-size: 1.2rem;
  color: #6baa92;
}
h2 {
  margin-top: 0;
  text-align: center;
  font-size: 1.1rem;
  /* color: #45bccccc; */
  font-weight: bold;
}

#input-area {
  background-color: #c6e5d9;
}
#incomplete-area {
  border: 2px solid #c6e5d9;
  min-height: 200px;
}
#incomplete-area h2 {
  /* border-bottom: 2px solid #c6e5d9; */
}
#complete-area {
  background-color: #dedede;
  min-height: 200px;
}
#complete-area h2 {
  /* border-bottom: 2px solid #bbb; */
}
.list-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.list-row p {
  margin: 0.5rem auto 0.5rem 0;
}

button.delete {
  background-color: #bd4747cc;
  padding: 0.5rem;
}
button.delete:hover {
  background-color: #e6d1d1cc;
  color: #bd4747cc;
}
.warning {
  color: red;
  width: 90%;
  margin: 0 auto;
  /* padding: 0 1rem; */
  font-size: 0.9rem;
}
